<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de Ropa</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Ingreso de Ropa al Inventario</h1>
        <nav>
            <ul>
                <li><a href="{% url 'inventario:home' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar Ingreso</button>
        </form>
        <a href="{% url 'inventario:home' %}">Volver a Inicio</a>
    </main>
</body>
</html>